* {
  margin: 0;
  padding: 0;
}
body {
  background-color: cadetblue;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  font-size: 10vmin;
  color: rgb(17, 18, 18);
  background-color: rgb(73, 232, 237);
}
#reset-btn {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: rgb(14, 14, 14);
  color: #ffffff;
  border-radius: 1rem;
}
#new-btn {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: rgb(14, 14, 14);
  color: #ffffff;
  border-radius: 1rem;
}
#msg {
  color: wheat;
  font-size: 5vmin;
}
.msg-container {
  height: 100vmin;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide {
  display: none;
}
